/* General CSS */
body {
    background-color: rgb(19, 19, 19);
    height: 100%;
}

html {
	height: 100%;
}


.outer-container{ /* All variables => themes/styles/style.css  */
  float: right;
  margin-top: var(--mar-top);
  margin-bottom: var(--mar-top);
  margin-right: 2%;
  height: 96%;
  width: 96%;
}

/* Left side */

.outer-container .content{
  float: left;
  width: 70%;
  height: 100%;
  padding: 14px;
  background-color: var(--bs-black);
  box-shadow: 2.5px 2.5px rgb(115, 223, 160), -2.5px -2.5px rgb(115, 223, 160);
  border-radius: 25px;
}

.feed{
  width: 100%;
  height: 20%;
  background-color: var(--bs-black);
  box-shadow: 2.5px 2.5px rgb(115, 223, 160), -2.5px -2.5px rgb(115, 223, 160);
  border-radius: 25px;
  padding: 14px;
  margin-bottom: 30px;
}

#feed-Title{
color: white;
}
#feed-msg{
  color: white;
}

.feed-line{
  margin-top: 4%;
  width: 100%;
  height: 2px;
  background-color: var(--bs-green);
}

.feed-interactions button{ /* Likes */
  margin-top: 6px;
  background: none;
  border: none;
  color: var(--bs-green);
}


/* Right side */
.outer-container .sidebar{
  float: right;
  width: 25%;
  height: 100%;
  background-color: var(--bs-black);
  box-shadow: 2.5px 2.5px rgb(115, 223, 160), -2.5px -2.5px rgb(115, 223, 160);
  border-radius: 25px;
}


.outer-container .sidebar .userInfo{
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 60px;
}

/* Profile pic */
#avatar{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

/* color white  */
.userInfo h2{
  color: white;
}

.userInfo h4{
  color: white;
}

/* basic green line class */
.userInfo .Line{
  margin:  10px auto;
  width: 90%;
  height: 2px;
  background-color: var(--bs-green);
}


/* Modifying Href Links */
.userInfo .Links{
  font-size: 2.5em;
  padding-bottom: 10px;
}

.Links ul li {
  margin-top: 20px;
}

.Links a:link {
  color: var(--bs-green);
}


.Links a:visited {
  color: var(--bs-green);
}


.Links a:hover {
  color: rgb(255, 0, 128);
}


.Links a:active {
  color: var(--bs-green);
} 