body {
    background-color: rgb(19, 19, 19);
    height: 100%;
}

html {
	height: 100%;
}


.content{
    margin: 4% auto;
    width: 80%;
    height: 80%;
    background-color: var(--bs-black);
    box-shadow: 2.5px 2.5px rgb(115, 223, 160), -2.5px -2.5px rgb(115, 223, 160);
    border-radius: 25px;
}

.content .NameChange{
    float: left;
    width: 40%;
    height: 100%;
    padding-top: 60px;
    padding-left: 60px;
}

.content .NameChange .field h2{
  color: white;   
}

.Navigation{
    float: left;
    font-size: 1.8em;
    padding-top: 100%;
}


.profilePic{
    float:right;
}